<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.dao.mapper.PayMapper">
    <resultMap id="BaseResultMap" type="com.opay.entity.People">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="userId" jdbcType="VARCHAR" property="userid" />
        <result column="balance" jdbcType="VARCHAR" property="balance" />
        <result column="bankNo" jdbcType="VARCHAR" property="bankno" />
        <result column="realName" jdbcType="VARCHAR" property="realname" />
    </resultMap>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, name, idCard, tel, adress, createUser, createTime, updateUser, updateTime
  </sql>



    <select id="addBalance" resultType="java.lang.Integer">
        select balance from account
        <where>
            <if test="userId">
                user_id = #{userId}
            </if>

        </where>
    </select>
<!--查找用户余额-->
    <select id="queryBalance" resultType="java.lang.Integer">
        select balance from account
        <where>
            <if test="userId">
                user_id = #{userId}
            </if>

        </where>
    </select>
<!--更新用户余额-->
    <update id="updateBalance" >

        update account set account =
    </update>
</mapper>

<!--        UPDATE Person SET FirstName = 'Fred' WHERE LastName = 'Wilson' -->
